<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-screen-sm sm:text-center sm:mx-auto">
    <h2 class="mb-4 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">Directive</h2>
    <p class="text-base text-gray-700 md:text-lg sm:px-4">指令是为 Angular 应用程序中的元素添加额外行为的类。使用 Angular 的内置指令，你可以管理表单、列表、样式以及要让用户看到的任何内容。</p>
    <hr class="w-full my-8 border-gray-300" />
  </div>
</div>

<div class="bg-gray-900">
  <div class="relative px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="absolute inset-x-0 top-0 items-center justify-center hidden overflow-hidden md:flex md:inset-y-0">
      <svg viewBox="0 0 88 88" class="w-full max-w-screen-xl text-gray-800">
        <circle fill="currentColor" fill-opacity="0.4" cx="44" cy="44" r="15.5"></circle>
        <circle fill-opacity="0.1" fill="currentColor" cx="44" cy="44" r="44"></circle>
        <circle fill-opacity="0.1" fill="currentColor" cx="44" cy="44" r="37.5"></circle>
        <circle fill-opacity="0.1" fill="currentColor" cx="44" cy="44" r="29.5"></circle>
        <circle fill-opacity="0.1" fill="currentColor" cx="44" cy="44" r="22.5"></circle>
      </svg>
    </div>
    <div class="relative grid gap-5 sm:grid-cols-4 lg:grid-cols-2">
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.NgClass }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.NgStyle }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.NgModel }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.NgIf }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.NgFor }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.NgSwitch }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.CustomAttributeDirective }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.HandlingUserEvents }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.PassingValuesIntoAnAttributeDirective }}</pre>
        </article>
      </div>
      <div class="p-4 text-center transition duration-300 transform bg-gray-900 rounded shadow-2xl hover:scale-105 md:shadow-xl hover:shadow-2xl">
        <article class="prose prose-gray text-left">
          <pre class="font-semibold text-gray-200" text-sm preHighlight>{{ code_demo.StructuralDirectives }}</pre>
        </article>
      </div>
    </div>
  </div>
</div>
